.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-items: center;
  padding: 0.6rem 1rem;
  color: white;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 0.6rem 0.6rem;

  .logo {
    color: green;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Dancing Script";
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    background-color: green;
    border-radius: 4rem;

    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer;

    p {
      margin-left: 1rem;
    }

    &_icon {
      color: green;
      background-color: white;
      border-radius: 3rem;
      padding: 0.15rem 0.33rem;
    }
  }



  .account {
    justify-self: end;

    button {
      background-color: green;
      color: white;
      padding: 0.8rem 0.8rem;
      border: none;
      border-radius: 2rem;
      cursor: pointer;

      &:hover {}
    }
  }
}